body {
    background: #222;
    color: #fff;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    box-sizing: border-box;
    max-width: var(--container-width);
    padding: 0 24px;
    width: 100%;
}